:root {
  font-family: 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(51, 255, 0, 0.87);
  background-color: #000000;
}

a {
  font-weight: 500;
  color: #ff00ea;
  text-decoration: inherit;
}
a:hover {
  color: #8400ff;
}

body {
  display: grid;
  place-items: center;
  
}

h1 {
  font-size: 150%;
  line-height: 1.1;
  text-align: center;
}

button {
  border: 1px dashed #00ff00;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: 1px solid #ffffff;
  
}


@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #00ff00;
  }
  a:hover {
    color: #8400ff;
  }
  button {
    background-color: #000000;
  }
}
