.App{
  display: grid;
  place-items: center;
}
.form-heading{
  align-items: center;
  width: 100%;
}
.form-full{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-div{
  display: grid;
  margin: 10px;
}

.date{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rating{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.radio-items{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 5px;
}

.radio-items label{
  display: grid;
  place-items: center;
}
fieldset{
  border: 1px dotted rgb(11, 138, 0);
  font-size: 100%;
  width: 150%;
}

form{
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  
}

label{
  padding: 5px;
  text-align: left;
}

input{
  color: rgb(255, 255, 255);
  background-color: black;
  border: 1px dashed rgb(21, 255, 0);
  font-size: 100%;
  padding: 5px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  
}

input[type="radio"]{
appearance: none;
background-color: black;
margin: 0;
width: 1.15em;
height: 1.15em;
border: 0.15em dotted rgb(255, 255, 255);
border-radius: 50%;
}

input[type="radio"]:checked{
  background-color: rgb(11, 131, 0);
}
input[type="radio"]:hover{
  cursor: pointer;
}

.description{
  overflow-y:visible;
}

textarea{
  color: rgb(255, 255, 255);
  background-color: black;
  border: 1px dashed rgb(21, 255, 0);
  font-size: 100%;
  padding-bottom: 30px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  resize: none;
  overflow:visible;
  min-height: 50px;
  max-height: 100px;
}

input::file-selector-button{
  background-color: rgb(18, 75, 21);
  border: none;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

input::file-selector-button:hover{
  background-color: rgb(0, 141, 7);
  cursor: pointer;
  
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}
