.fix{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.username-here{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.username-here p{
    font-size: 300%;
}

.btn{
font-size: 24px !important;
width: 200px;
display: grid;
}

